<div class="absolute inset-0 overflow-hidden flex flex-col w-full" *transloco="let t">

    <!-- Header -->
    <div class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 sm:py-4 sm:px-10 border-b bg-card dark:bg-transparent">

        <div class="flex-1 min-w-0">
            <au-breadcrumb [data]="breadcrumb"></au-breadcrumb>
            <au-title>
                <mat-icon
                    {{#if schema.front.solidFontSetIcon }}
                    fontSet="{{ schema.front.solidFontSetIcon }}"
                    {{else}}
                    svgIcon="{{ ternary schema.front.solidIcon schema.front.solidIcon 'heroicons_outline:tag' }}"
                    {{/if}}
                    class="icon-size-8 mr-2"
                >
                    {{#if schema.front.solidFontSetIcon }}
                    {{ ternary schema.front.solidIcon schema.front.solidIcon 'heroicons_outline:tag' }}
                    {{/if}}
                </mat-icon>
                \{{ t('{{ toCamelCase schema.boundedContextName }}.{{ toPascalCase schema.moduleName }}') }}
            </au-title>
        </div>

        <!-- Actions -->
        <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">
            {{#if (hasI18nProperties schema.aggregateProperties) }}
            @if (
                currentViewAction.id === '{{ toCamelCase schema.boundedContextName }}::{{ toCamelCase schema.moduleName }}.detail.edit' &&
                currentLang.id !== fallbackLang.id
            )
            {
                <button
                    mat-flat-button
                    type="button"
                    class="ml-3"
                    color="warn"
                    [disabled]="'{{ toCamelCase schema.boundedContextName }}::{{ toCamelCase schema.moduleName }}.detail.delete' | getSpinnerFlag | async"
                    (click)="
                        actionService.action({
                            id: '{{ toCamelCase schema.boundedContextName }}::{{ toCamelCase schema.moduleName }}.detail.delete',
                            isViewAction: false
                        })
                    "
                >
                @if ('{{ toCamelCase schema.boundedContextName }}::{{ toCamelCase schema.moduleName }}.detail.delete' | getSpinnerFlag | async)
                {
                    <mat-icon>
                        <mat-spinner diameter="20"></mat-spinner>
                    </mat-icon>
                }
                @else
                {
                    <mat-icon class="icon-size-5 mr-2">
                        delete
                    </mat-icon>
                }
                    \{{ t('DeleteTranslation') }}
                </button>
            }
            {{/if}}

            @if (currentViewAction.id === '{{ toCamelCase schema.boundedContextName }}::{{ toCamelCase schema.moduleName }}.detail.edit')
            {
                <button
                    mat-flat-button
                    type="submit"
                    class="ml-3"
                    form="{{ toCamelCase schema.boundedContextName }}{{ toPascalCase schema.moduleName }}FormDetail"
                    color="accent"
                    [disabled]="fg.pristine || ('{{ toCamelCase schema.boundedContextName }}::{{ toCamelCase schema.moduleName }}.detail.update' | getSpinnerFlag | async)"
                >
                    @if ('{{ toCamelCase schema.boundedContextName }}::{{ toCamelCase schema.moduleName }}.detail.update' | getSpinnerFlag | async)
                    {
                        <mat-icon>
                            <mat-spinner diameter="20"></mat-spinner>
                        </mat-icon>
                    }
                    @else
                    {
                        <mat-icon
                            svgIcon="mat_solid:edit"
                            class="icon-size-5 mr-2"
                        >
                        </mat-icon>
                    }
                    \{{ t('Update') }}
                </button>
            }

            @if (currentViewAction.id === '{{ toCamelCase schema.boundedContextName }}::{{ toCamelCase schema.moduleName }}.detail.new')
            {
                <button
                    mat-flat-button
                    type="submit"
                    form="{{ toCamelCase schema.boundedContextName }}{{ toPascalCase schema.moduleName }}FormDetail"
                    class="ml-3"
                    color="accent"
                    [disabled]="fg.pristine || ('{{ toCamelCase schema.boundedContextName }}::{{ toCamelCase schema.moduleName }}.detail.create' | getSpinnerFlag | async)"
                >
                    @if ('{{ toCamelCase schema.boundedContextName }}::{{ toCamelCase schema.moduleName }}.detail.create' | getSpinnerFlag | async)
                    {
                        <mat-icon>
                            <mat-spinner diameter="20"></mat-spinner>
                        </mat-icon>
                    }
                    @else
                    {
                        <mat-icon
                            svgIcon="mat_solid:save"
                            class="icon-size-5 mr-2"
                        >
                        </mat-icon>
                    }
                    \{{ t('Create') }}
                </button>
            }
        </div>
        <!-- / Actions -->

    </div>
    <!-- / Header -->

    <!-- Main -->
    <div class="flex-auto pt-6 px-6 sm:pt-10 sm:px-10 overflow-y-auto" cdkScrollable>

        <div class="form-card">

            <form
                id="{{ toCamelCase schema.boundedContextName }}{{ toPascalCase schema.moduleName }}FormDetail"
                novalidate
                [formGroup]="fg"
                (ngSubmit)="onSubmit($event)"
            >

                <div class="layout__container">

                    {{#if (hasI18nProperties schema.aggregateProperties) }}
                    <au-flag-lang
                        appearance="outline"
                        class="col-4"
                        [label]="t('Language')"
                        [lang]="currentLang"
                    >
                    </au-flag-lang>
                    {{/if}}
                    {{#each (getFormDetailFieldsProperties schema.aggregateProperties) }}
                    {{#if (isAllowProperty ../schema.moduleName this) }}
                    {{#eq type 'varchar'}}
                    {{> varcharInput schema=../schema property=.}}

                    {{/eq}}
                    {{#eq type 'text'}}
                    {{> textInput schema=../schema property=.}}

                    {{/eq}}
                    {{#eq type 'char'}}
                    {{> charInput schema=../schema property=.}}

                    {{/eq}}
                    {{#eq type 'smallint'}}
                    {{> intInput schema=../schema property=.}}

                    {{/eq}}
                    {{#eq type 'enum'}}
                    {{> enumInput schema=../schema property=.}}

                    {{/eq}}
                    {{#eq type 'boolean'}}
                    {{> booleanInput schema=../schema property=.}}

                    {{/eq}}
                    {{#eq type 'int'}}
                    {{> intInput schema=../schema property=.}}

                    {{/eq}}
                    {{#eq type 'decimal'}}
                    {{> decimalInput schema=../schema property=.}}

                    {{/eq}}
                    {{#eq type 'float'}}
                    {{> decimalInput schema=../schema property=.}}

                    {{/eq}}
                    {{#eq type 'date'}}
                    {{> dateInput schema=../schema property=.}}

                    {{/eq}}
                    {{#eq type 'timestamp'}}
                    {{> timestampInput schema=../schema property=.}}

                    {{/eq}}
                    {{/if}}
                    {{#eq webComponent.type 'select'}}
                    {{> selectWebComponent schema=../schema property=.}}

                    {{/eq}}
                    {{#eq webComponent.type 'async-search-multiple-select'}}
                    {{> asyncSearchMultipleSelectWebComponent schema=../schema property=.}}

                    {{/eq}}
                    {{#eq webComponent.type 'multiple-select'}}
                    {{> multipleSelectWebComponent schema=../schema property=.}}

                    {{/eq}}
                    {{#eq webComponent.type 'grid-select-element'}}
                    {{> gridSelectElementWebComponent schema=../schema property=.}}

                    {{/eq}}
                    {{#eq webComponent.type 'grid-select-multiple-elements'}}
                    {{> gridSelectMultipleElementsWebComponent schema=../schema property=.}}

                    {{/eq}}
                    {{#eq webComponent.type 'grid-elements-manager'}}
                    {{> gridElementsManagerWebComponent schema=../schema property=.}}

                    {{/eq}}
                    {{/each}}

                </div>

            </form>

        </div>

    </div>
    <!-- / Main -->

</div>
